In [0]:
import pandas as pd
import numpy as np
import os
import io
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn import tree


from sklearn.model_selection import GridSearchCV

#import graphviz
#!conda install --yes python-graphviz
#!conda install --yes graphviz

import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [13]:
item_details=pd.read_csv('drive/My Drive/item_details.csv')
train=pd.read_csv('drive/My Drive/train.csv')
train_transactions=pd.read_csv('drive/My Drive/train_transactions.csv')
location_details=pd.read_csv('drive/My Drive/location_details.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
train_transactions.head(10)

         date location_identifier  transactions
0  2015-01-01         location_25           770
1  2015-01-02          location_1          2111
2  2015-01-02          location_2          2358
3  2015-01-02          location_3          3487
4  2015-01-02          location_4          1922
5  2015-01-02          location_5          1903
6  2015-01-02          location_6          2143
7  2015-01-02          location_7          1874
8  2015-01-02          location_8          3250
9  2015-01-02          location_9          2940

In [25]:
item_details.head(10)

       item_id           category_of_item       class  perishable
0   item_96995              grocery_items  class_1093           0
1   item_99197              grocery_items  class_1067           0
2  item_103501         cleaning_utilities  class_3008           0
3  item_103520              grocery_items  class_1028           0
4  item_103665  baked_items / bread_based  class_2712           1
5  item_105574              grocery_items  class_1045           0
6  item_105575              grocery_items  class_1045           0
7  item_105576              grocery_items  class_1045           0
8  item_105577              grocery_items  class_1045           0
9  item_105693              grocery_items  class_1034           0

In [24]:
location_details.head(7)

  location_id       city      state type  cluster
0  location_1  Bengaluru  Karnataka    D       13
1  location_2  Bengaluru  Karnataka    D       13
2  location_3  Bengaluru  Karnataka    D        8
3  location_4  Bengaluru  Karnataka    D        9
4  location_5      Delhi        NCR    D        4
5  location_6  Bengaluru  Karnataka    D       13
6  location_7  Bengaluru  Karnataka    D        8

In [27]:
train.head(10)

         date   locationId      item_id  unit_sales onpromotion
0  2015-01-01  location_25  item_103665         7.0         NaN
1  2015-01-01  location_25  item_105574         1.0         NaN
2  2015-01-01  location_25  item_105575         2.0         NaN
3  2015-01-01  location_25  item_108079         1.0         NaN
4  2015-01-01  location_25  item_108701         1.0         NaN
5  2015-01-01  location_25  item_108786         3.0         NaN
6  2015-01-01  location_25  item_108797         1.0         NaN
7  2015-01-01  location_25  item_108952         1.0         NaN
8  2015-01-01  location_25  item_111397        13.0         NaN
9  2015-01-01  location_25  item_114790         3.0         NaN

In [0]:
item_details1= pd.read_pickle('item_details.pickle')